.account-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 2rem;
    align-items: center;
    height: 2rem;
    background-color: #000000;
    position: relative;
}

.account-button {
    background-color: #000000;
    color: #929499; 
    border: none;
    cursor: pointer;
}

.account-button:hover {
    color: #ffffff;
}